.course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .course-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .course-section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
  }
  
  .course-section-content {
    font-size: 2rem;
    line-height: 1.5;
    text-align: left;
  }
  
  .course-section-content li {
    margin: 1rem 0;
  }
  
  ul.course-section-content {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }
  